<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MediaHarbor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="MediaHarbor.Ayarlar" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="MediaHarbor.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MediaHarbor.Ayarlar" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <MediaHarbor.Properties.Settings>
            <setting name="DownloadDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoUpdateEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownDir" serializeAs="String">
                <value />
            </setting>
            <setting name="saveDir" serializeAs="String">
                <value />
            </setting>
            <setting name="theme" serializeAs="String">
                <value />
            </setting>
        </MediaHarbor.Properties.Settings>
        <MediaHarbor.Ayarlar>
            <setting name="AutoUpdateEnabled" serializeAs="String">
                <value/>
            </setting>
        </MediaHarbor.Ayarlar>
        <MediaHarbor.Settings>
            <setting name="DownloadDirectory" serializeAs="String">
                <value>saveDir.Text</value>
            </setting>
            <setting name="AutoUpdateEnabled" serializeAs="String">
                <value/>
            </setting>
        </MediaHarbor.Settings>
    </userSettings>
    <applicationSettings>
        <MediaHarbor.Ayarlar>
            <setting name="DownloadDirectory" serializeAs="String">
                <value/>
            </setting>
        </MediaHarbor.Ayarlar>
    </applicationSettings>
</configuration>
